<! DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<h1>Create Mission</h1>
Remember to copy the "mid" in the next page if you want to upload the reward later.
<hr>
<form action="/api/v1/admin/missions" method="post" enctype='application/json'>

    <input type="hidden" name="token" th:value="${token}">
    <table border="1" cellspacing="1" cellpadding="5">

        <tr>
            <td>
                missionName
            </td>
            <td>
                <input type="text" name="missionName">


            </td>
        </tr>
        <tr>
            <td>
                missionType
            </td>
            <td>

                <input type="text" name="missionType" value="mission_daily">Don't change this

            </td>
        </tr>
        <tr bgcolor="#deb887">
            <td>couponName
            </td>
            <td>
                <input type="text" name="rewardType">Should be the same as Reward below

            </td>
        </tr>
        <tr>
            <td>
                totalDays
            </td>
            <td>
                <input type="text" name="totalDays">Number only

            </td>
        </tr>
        <tr>
            <td>joinQuota
            </td>
            <td>
                <input type="number" name="joinQuota" value="1">Number only. Not used.

            </td>
        </tr>
        <tr>
            <td>titleId
            </td>
            <td>
                <input type="text" name="titleId">(mission201901_title)

            </td>
        </tr>
        <tr>
            <td>descriptionId
            </td>
            <td>
                <input type="text" name="descriptionId">(mission201901_description)

            </td>
        </tr>
        <tr>
            <td>
                imageUrl
            </td>
            <td>
                <input type="text" name="imageUrl">https://homepages.cae.wisc.edu/~ece533/images/lena.png
            </td>
        </tr>
        <tr>
            <td>
                startDate
            </td>
            <td>
                <input type="text" name="startDate">2019-10-01T10:00:00
            </td>
        </tr>
        <tr>
            <td>
                joinStartDate
            </td>
            <td>
                <input type="text" name="joinStartDate">2019-10-01T10:00:00
            </td>
        </tr>
        <tr>
            <td>
                joinEndDate
            </td>
            <td>
                <input type="text" name="joinEndDate">2019-10-30T10:00:00

            </td>
        </tr>
        <tr>
            <td>
                expiredDate
            </td>
            <td>
                <input type="text" name="expiredDate">2019-12-30T10:00:00
        <tr>
            <td>
                pings
            </td>
            <td>
                <input type="text" name="pings">Please ask BI team for the telemetry name["ping-pong-ping-pong"]
            </td>
        </tr>
        <tr>
            <td>
                min_version
            </td>
            <td>
                <input type="number" name="minVersion" value=1>Number only
            </td>
        </tr>
        <tr>
            <td>
                Day[1] Success Message
            </td>
            <td>
                <input type="text" name="messages[]" value="mission_daily_d1_msg">
            </td>
        </tr>
        <tr>
            <td>
                Day[2] Success Message
            </td>
            <td>
                <input type="text" name="messages[]" value="mission_daily_d2_msg">
            </td>
        </tr>
        <tr>
            <td>
                Day[3] Success Message
            </td>
            <td>
                <input type="text" name="messages[]" value="mission_daily_d3_msg">
            </td>
        </tr>
        <tr>
            <td>
                Day[4] Success Message
            </td>
            <td>
                <input type="text" name="messages[]" value="mission_daily_d4_msg">
            </td>
        </tr>
        <tr>
            <td>
                Day[5] Success Message
            </td>
            <td>
                <input type="text" name="messages[]" value="mission_daily_d5_msg">
            </td>
        </tr>
        <tr>
            <td>
                Day[6] Success Message
            </td>
            <td>
                <input type="text" name="messages[]" value="mission_daily_d6_msg">
            </td>
        </tr>
        <tr>
            <td>
                Day[7] Success Message
            </td>
            <td>
                <input type="text" name="messages[]" value="mission_daily_d7_msg">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Create Mission" name="submit">

            </td>
        </tr>
    </table>
</form>

<h1>Upload Reward</h1>
<hr>
<form action="/api/v1/admin/coupon" method="post" enctype="multipart/form-data">

    <input type="hidden" name="token" th:value="${token}">
    <table border="1" cellspacing="1" cellpadding="5">
        <tr bgcolor="#deb887">
            <td>
                couponName
            </td>
            <td><input type="text" name="couponName">
            </td>
        </tr>
        <tr>
            <td>
                file
            </td>
            <td><input type="file" name="file">

            </td>
        </tr>
        <tr>
            <td>
                missionType
            </td>
            <td><input type="text" name="missionType" value="mission_daily">Don't change this

            </td>
        </tr>
        <tr>
            <td>
                mid
            </td>
            <td><input type="text" name="mid">This field comes from the result when you create a mission. If you
                forget, contact
                the admin
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Upload Reward" name="submit">
            </td>
        </tr>

    </table>
</form>


</body>