<! DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<h1>Create Mission</h1>
Remember to copy the "mid" in the next page if you want to upload the reward later.
<hr>
<form action="/api/v1/admin/missions" method="post" enctype='application/json'>

    <input type="hidden" name="token" th:value="${token}">
    <table border="1" cellspacing="1" cellpadding="5">

        <tr>
            <td>
                missionName
            </td>
            <td>
                <input type="text" name="missionName"> This will be used in Telemetry to specify the mission.
            </td>
        </tr>
        <tr>
            <td>
                missionType
            </td>
            <td>

                <input type="text" name="missionType" value="mission_daily"> Don't change this

            </td>
        </tr>
        <tr bgcolor="#deb887">
            <td>couponName
            </td>
            <td>
                <input type="text" name="rewardType"> Should be the same as Reward below

            </td>
        </tr>
        <tr>
            <td>
                totalDays
            </td>
            <td>
                <input type="text" name="totalDays"> Number only

            </td>
        </tr>
        <tr>
            <td>joinQuota
            </td>
            <td>
                <input type="number" name="joinQuota"> Number only

            </td>
        </tr>
        <tr>
            <td>titleId
            </td>
            <td>
                <input type="text" name="titleId"> Ask the backend team for the string ID

            </td>
        </tr>
        <tr>
            <td>descriptionId
            </td>
            <td>
                <input type="text" name="descriptionId"> Ask the backend team for the string ID

            </td>
        </tr>
        <tr>
            <td>
                imageUrl
            </td>
            <td>
                <input type="text" name="imageUrl">
            </td>
        </tr>
        <tr>
            <td>
                startDate
            </td>
            <td>
                <input type="text" name="startDate">
            </td>
        </tr>
        <tr>
            <td>
                joinStartDate
            </td>
            <td>
                <input type="text" name="joinStartDate">
            </td>
        </tr>
        <tr>
            <td>
                joinEndDate
            </td>
            <td>
                <input type="text" name="joinEndDate">

            </td>
        </tr>
        <tr>
            <td>
                expiredDate
            </td>
            <td>
                <input type="text" name="expiredDate">
            </td>
        </tr>
        <tr>
            <td>
                redeemEndDate
            </td>
            <td>
                <input type="text" name="redeemEndDate">
            </td>
        </tr>
        <tr>
            <td>
                pings
            </td>
            <td>
                <input type="text" name="pings"> Ask BI team for the telemetry name and use "," to separate them. Example: ping-a,ping-b,ping-c
            </td>
        </tr>
        <tr>
            <td>
                min_version
            </td>
            <td>
                <input type="number" name="minVersion"> Number only. Ask RM team for Android build number(BITRISE_BUILD_NUMBER).
            </td>
        </tr>
        <tr>
            <td>
                Day[1] Success Message
            </td>
            <td>
                <input type="text" name="messages[]" value="msrp_completed_toast_day1">
            </td>
        </tr>
        <tr>
            <td>
                Day[2] Success Message
            </td>
            <td>
                <input type="text" name="messages[]" value="msrp_completed_toast_day2">
            </td>
        </tr>
        <tr>
            <td>
                Day[3] Success Message
            </td>
            <td>
                <input type="text" name="messages[]" value="msrp_completed_toast_day3">
            </td>
        </tr>
        <tr>
            <td>
                Day[4] Success Message
            </td>
            <td>
                <input type="text" name="messages[]" value="msrp_completed_toast_day4">
            </td>
        </tr>
        <tr>
            <td>
                Day[5] Success Message
            </td>
            <td>
                <input type="text" name="messages[]" value="msrp_completed_toast_day5">
            </td>
        </tr>
        <tr>
            <td>
                Day[6] Success Message
            </td>
            <td>
                <input type="text" name="messages[]" value="msrp_completed_toast_day6">
            </td>
        </tr>
        <tr>
            <td>
                Day[7] Success Message
            </td>
            <td>
                <input type="text" name="messages[]" value="msrp_completed_toast_day7">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Create Mission" name="submit">

            </td>
        </tr>
    </table>
</form>

<h1>Upload Reward</h1>
<hr>
<form action="/api/v1/admin/coupon" method="post" enctype="multipart/form-data">

    <input type="hidden" name="token" th:value="${token}">
    <table border="1" cellspacing="1" cellpadding="5">
        <tr bgcolor="#deb887">
            <td>
                couponName
            </td>
            <td><input type="text" name="couponName">
            </td>
        </tr>
        <tr>
            <td>
                displayName
            </td>
            <td><input type="text" name="displayName">This name will be visible to the user in Redeem Page

            </td>
        </tr>
        <tr>
            <td>
                openLink
            </td>
            <td><input type="text" name="openLink"> The URL to open with the code
            </td>
        </tr>
        <tr>
            <td>
                file
            </td>
            <td><input type="file" name="file">

            </td>
        </tr>
        <tr>
            <td>
                missionType
            </td>
            <td><input type="text" name="missionType" value="mission_daily">Don't change this

            </td>
        </tr>
        <tr>
            <td>
                mid
            </td>
            <td><input type="text" name="mid">This field comes from the result when you create a mission. If you forget, contact the admin
            </td>
        </tr>
        <tr>
            <td>
                expiredDate
            </td>
            <td><input type="text" name="expiredDate">After this moment, user won't be able to use this coupon
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Upload Reward" name="submit">
            </td>
        </tr>

    </table>
</form>


</body>