<! DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<h1>Content Upload</h1>
Currently the upload content will be published immediately
<hr>
<form action="/api/v1/admin/content" method="post" enctype="multipart/form-data">
    <input type="hidden" name="token" th:value="${token}">

    <table border="1" cellspacing="1" cellpadding="5">
        <tr>
            <td>category</td>
            <td>
                <select name="category">
                    <option value="shoppingDeal">Shopping Deal</option>
                    <option value="shoppingCoupon">Shopping Coupon</option>
                    <option value="travelExplore">Travel Explore</option>
                    <option value="apkGame">Game APK</option>
                    <option value="html5Game">Game HTML</option>
                </select><br>
            </td>
        </tr>
        <tr>
            <td>locale</td>
            <td>
                <select name="locale">
                    <option value="en-IN">[en-IN] Shopping</option>
                    <option value="id-ID">[id-ID] Shopping/Travel</option>
                    <option value="en-US">[en-US] Travel</option>
                    <option value="zh-HANT">[zh-HANT] Travel</option>
                    <option value="all">[ALL] Games</option>
                </select><br>

            </td>
        </tr>
        <tr>
            <td>tag</td>
            <td>
                <input type="text" name="tag"> could be any string

            </td>
        </tr>
        <tr>
            <td>Banner</td>
            <td>
                <input type="file" name="banner"><br>

            </td>
        </tr>
        <tr>
            <td>Other</td>
            <td>
                <input type="file" name="other"><br>

            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Upload Content" name="submit">
            </td>
        </tr>

    </table>
</form>

</body>