<! DOCTYPE html>
<html>
<body>

<h1>Uploading</h1>
<hr>
<!-- <form action="https://rocket-dev01.appspot.com/api/v1/content/upload" method="post" enctype="multipart/form-data">  -->
<form action="http://localhost:8080/api/v1/admin/content" method="post" enctype="multipart/form-data">


    category
    <select name="category">
        <option value="apkGame">apk Game</option>
        <option value="html5Game">html5 Game</option>
        <option value="shoppingDeal">shopping Deal</option>
        <option value="shoppingCoupon">shopping Coupon</option>
    </select><br>

    locale
    <select name="locale">
        <option value="all">all</option>
        <option value="en-IN">en-IN</option>
        <option value="id-ID">id-ID</option>
    </select><br>

    tag
    <input type="text" name="tag"><br>

    Banner
    <input type="file" name="banner"><br>

    Other
    <input type="file" name="other"><br>
    <input type="submit" value="Upload coupons" name="submit">
</form>



</body>